html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
}

section,
a,
img,
h1,
h2,
h3,
h4,
p,
li,
button {
    letter-spacing: -0.03em;
    font-family: 'Manrope', sans-serif;
}

.title {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: -0.03em;
    margin-bottom: 30px;
    text-transform: uppercase;
}

h3 {
    font-size: 30px;
    line-height: 41px;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    h3 {
        font-size: 25px;
        line-height: 34px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
        padding-left: 13px;
        padding-right: 13px;
    }

    h3 {
        font-size: 18px;
        line-height: 25px;
    }

    .title {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 20px;
    }

}